@import '../variables.scss';
header {
  box-sizing: border-box;
  font-size: 2rem;
  font-weight: 700;
  height: 10vh;
  padding: 0.5em 1em;
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
  
  .header-logo {
    font-size: 3rem;
    margin: 0 0;
    font-family: $main-font;
    color: $main-color-text;
    position: relative;
    z-index: 0;

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      width: 1.25em;
      height: 1.25em;
      background-color: $color-button;
      -webkit-mask: url('../images/ticket.svg') no-repeat center;
      left:30%;
      top:-10%;
      transform: rotate(45deg);
    }

  }

  .header-items {
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;


    .header-items--navigation {
      appearance: none;
      background-color: $color-button;
      width:30px;
      height: 30px;
      -webkit-mask: url("../images/bars.svg") no-repeat center;
      mask: url("../images/bars.svg") no-repeat center;
      @media (min-width: 1100px) {
        display: none;
      }

      &:checked {
        ~ .navItems {
          font-size: 16px;
          display: block;
          background-color: white;
          position: absolute;
          z-index: 3;
          left: 0;
          top: 10%;
          width: 100%;
          box-shadow: 2px 2px 6px $color-background;

          .navItem {
            list-style: none;
            padding: 0.5em;
            background-color: white;
            border-bottom: 2px solid $color-background;

            &:hover, &:active {
              background: $color-button-secondary-background;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
.navItems {
  display: none;
  @media (min-width: 1100px) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $color-background;
    .navItem{
      font-size: 0.625em;
      list-style: none;
      padding: 0.5em 1.5em;
      border-bottom: 2px solid $color-background;
      &:hover, &:active {
        .a-header-text{
          color: $color-button;
          font-weight: 1000;
        }

        font-weight: 700;
      }
    }
  }
}


@keyframes ticket-animation{
  100%{
    transform: rotate(135deg);
  }
}
