@import '../variables';

.carousel{
  text-align: center;
}
.section-main{
  height: 85vh;
  background-image: url("../images/train-background.jpg");
  background-size: cover;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  &:before{
    content:'';
    height:85vh;
    width:100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    background-color: $color-button-secondary;
    opacity: 0.4;
  }


  h1, p, button{
    color: $color-background;
    margin: 0.5em;
    position: relative;
    z-index: 2;
    text-align: center;
  }
  h1{
    font-size: 3em;
    @media (min-width: 800px){
      font-size: 4em;
    }
  }
  p{
    font-size: 1.5em;
    @media (min-width: 800px){
      font-size: 2em;
    }
  }
  .button-main-section{
    height: 3em;
    width:6em;
    font-size: 2em;
    background-color: $color-button-secondary;
    border: none;
    box-shadow: 2px 2px 3px $main-color-text;
    border-radius: 1000px;
    &:hover{
      transition: 0.3s;
      transform: scale(1.25);
    }

    span{
      color: $color-background;
      font-weight: 700;
    }
  }
}
#slide2{
  background-image: url("../images/main-section-slide2.jpg");
}
#slide3{
  background-image: url("../images/main-section-slide3.jpg");
}
.a-header{
  color: $color-background;
}