@import '../variables';
.section-choose-city{
  max-width: 100%;
  h1{
    padding: 5px;
    font-size: 3.5em;
    text-align: center;
  }
  .cities{
    margin: 2% 4% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .city{
    margin: 2%;
    text-align: center;
    height: 180px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid $color-button-background;
    background-color: $color-background;
    border-radius: 20px;
    box-shadow: 2px 2px 5px $color-button;
    &:hover{
      background-color: $color-button-background;
      cursor: pointer;
    }
    .city-name{
      font-size: 1.5em;
      font-weight: 700;
    }
  }
}
