@import 'variables';
@import './landing_page_scss/header';
@import './landing_page_scss/nav';
@import './landing_page_scss/mainsection';
@import './landing_page_scss/howtobuy';
@import './landing_page_scss/benefits';
@import './landing_page_scss/aboutUs';
@import './landing_page_scss/numbers';
@import './landing_page_scss/opinions';
@import './landing_page_scss/footer';
@import './buy_ticket_scss/buyTicketFirstPage';
@import './buy_ticket_scss/gdanskBuyTicket';
@import './buy_ticket_scss/formToBuyTicket';
@import './buy_ticket_scss/ticket';



*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  color:$main-color-text;
  font-family: $main-font;
  text-decoration: none;
}
body{
  background-color: $color-background;
}
